@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#E0E0D6] !important;
}

/* Header */

.header-wrapper .header--middle-left {
  grid-template-columns: auto 1fr auto;
}
.header-wrapper .header--middle-left .header__inline-menu {
  @apply mx-auto;
}

.header-wrapper .header--middle-left .header__menu-item span {
  @apply text-[16px] leading-[24px] font-[600] text-[#2D3830];
}

.header-wrapper .header--middle-left .header__icon .icon {
  @apply w-[24px] h-[24px] min-w-[24px];
}

.header-wrapper .header--middle-left .header__icon {
  @apply w-[50px];
}
.header__icon--cart {
  @apply m-0;
}

.main-btn {
  @apply min-h-[80px] xl:min-h-[100px] bg-[#C62903] font-[800] text-[#E0E0D6] text-[16px] md:text-[20px] leading-[16px] md:leading-[20px] uppercase rounded-tl-[25px] rounded-br-[25px] flex items-center justify-center text-center max-w-[165px] w-full px-[20px];
  font-family: var(--font-heading-family);
}

.header-wrapper .main-btn {
  @apply hidden sm:flex ml-[10px] xl:ml-[20px];
}

.header-wrapper .header--middle-left .header__icons {
  @apply hidden sm:flex items-center;
}

.header-wrapper .header--middle-left {
  @apply max-w-[1887px];
  @apply px-[10px] !important;
}
.header-wrapper .header--middle-left summary.list-menu__item {
  @apply px-[25px];
}

.header-wrapper .header--middle-left .list-menu__item {
  @apply px-[10px] xl:px-[15px];
}

.header-wrapper .header--middle-left .header__heading-logo {
  @apply max-w-[177px] lg:max-w-[200px] xl:max-w-full;
}
@media (max-width: 640px) {
  .header-wrapper .header.header--middle-left {
    grid-template-areas: "heading left-icons icons";
  }
  .header-wrapper .header--middle-left header-drawer {
    justify-self: flex-end;
  }
  .header-wrapper .header--middle-left {
    @apply px-[2px] !important;
  }
  .header-wrapper .header--middle-left {
    @apply pt-[2px] pb-[3px];
  }
}

/* Hero */

.hero h4,
.hero p {
  @apply text-[20px] lg:text-[28px] leading-[28px] lg:leading-[39.2px] font-[500] text-[#E0E0D6];
  letter-spacing: 0px;
}

.hero h1 {
  @apply text-[4vw] xl:text-[5vw] leading-[5vw] font-[800] text-[#E0E0D6] uppercase mb-[14px];
}

.arrow-btn {
  @apply text-[24px] lg:text-[32px] leading-[24px] lg:leading-[32px] font-[800] text-[#E0E0D6] uppercase;
  letter-spacing: 0px;
  font-family: var(--font-heading-family);
}

.arrow-btn.red-variant {
  @apply text-[#C62903];
}

.arrow-btn::after {
  @apply ml-[8px];
  vertical-align: middle;
  content: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5 25.5L25.5 10.5M25.5 10.5H10.5M25.5 10.5V25.5' stroke='%23E0E0D6' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.arrow-btn.red-variant::after {
  content: url("data:image/svg+xml,%3Csvg%20width%3D%2236%22%20height%3D%2236%22%20viewBox%3D%220%200%2036%2036%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M10.5%2025.5L25.5%2010.5M25.5%2010.5H10.5M25.5%2010.5V25.5%22%20stroke%3D%22%23C62903%22%20stroke-width%3D%224%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3C%2Fsvg%3E%0A");
}

.hero .hero-slide {
  @apply flex h-full max-h-[910px];
}
.hero .hero-slide .left-section {
  @apply w-[36%] pt-[8%] px-[5%] lg:px-[7.2%] pb-[2.6%] flex flex-col relative;
}
.hero .hero-slide .left-section .shape-wrapper {
  @apply absolute max-w-[271px] right-0 top-0;
}
.hero .hero-slide .left-section .shape-wrapper img {
  @apply w-full;
}
.hero .hero-slide .right-section {
  @apply w-[64%];
}
.hero .hero-slide .content {
  @apply mb-[20px];
}
.hero .right-section {
  @apply relative;
}
.hero .right-section img {
  @apply w-full h-full object-cover max-h-[auto];
}

.hero .arrow-btn {
  @apply mt-auto;
}

.hero {
  @apply relative;
}
.hero .slider-btns {
  @apply absolute w-full justify-between flex top-[50%] translate-y-[-50%];
}

.hero .slider-btns button {
  @apply bg-[#2D3830] w-[66px] h-[66px] flex items-center justify-center;
}
.hero .dots {
  @apply flex absolute bottom-[60px] left-[47.5%] gap-[10px];
}
.hero .dots .dot {
  @apply w-[14px] h-[14px] rounded-full bg-[#E0E0D6] block cursor-pointer;
}
.hero .dots .dot.active {
  @apply bg-[#C62903];
}

@media (max-width: 975px) {
  .hero h1 {
    @apply text-[48px] leading-[48px] mb-[7px];
  }

  .hero .arrow-btn {
    @apply mt-0;
  }
  .hero .hero-slide {
    @apply flex-col;
  }
  .hero .hero-slide .left-section {
    @apply w-full pt-[46px] px-[30px] pb-[26px];
  }
  .hero .hero-slide .right-section {
    @apply w-full h-full;
  }
  .hero h4,
  .hero p {
    @apply text-[16px] leading-[22.4px];
  }
  .hero h4 {
    @apply mb-[10px];
  }
  .arrow-btn {
    @apply text-[20px] leading-[20px];
  }
  .arrow-btn::after {
    content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 17L17 7M17 7H7M17 7V17' stroke='%23E0E0D6' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  }
  .arrow-btn.red-variant::after {
    content: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M7%2017L17%207M17%207H7M17%207V17%22%20stroke%3D%22%23C62903%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3C%2Fsvg%3E%0A");
  }
  .hero .hero-slide .content {
    @apply mb-[47px];
  }
  .hero .right-section img {
    @apply min-h-[383px];
  }
  .hero .slider-btns {
    @apply hidden;
  }
  .hero .dots .dot {
    @apply w-[10px] h-[10px];
  }
  .hero .dots {
    @apply bottom-[30px] left-[50%] translate-x-[-50%];
  }
}

/* Products Slider */
.products-slider {
  @apply pt-[77px] xl:pt-[120px] xl:pt-[152px] pb-[80px] lg:pb-[120px] xl:pb-[160px] px-[10px] overflow-hidden relative;
}
.products-slider h2 {
  @apply text-[48px] sm:text-[54px] lg:text-[70px] xl:text-[96px] leading-[43.2px] sm:leading-[54px] lg:leading-[70px] xl:leading-[96px] text-[#2D3830] font-[800];
}
.products-slider .arrow-btn {
  @apply mb-[10px];
}
.products-slider .top-content {
  @apply max-w-[1645px] mx-auto mb-[25px] sm:mb-[40px];
}
.products-slider .heading {
  @apply flex flex-col sm:flex-row gap-x-[10px] gap-y-[24px] justify-between sm:items-end mb-[18px] sm:mb-[25px];
}
.products-slider .arrow-btn {
  @apply whitespace-nowrap;
}
.products-slider .tags {
  @apply overflow-hidden flex;
  touch-action: none;
  user-select: none;
}
.products-slider .tag-btn {
  @apply whitespace-nowrap border-transparent border-[1px] rounded-full text-[14px] sm:text-[16px] leading-[21px] sm:leading-[24px] font-[600] text-[#C62903] px-[26px] py-[9px] inline-block;
}
.products-slider .tag-btn.active {
  @apply border-[#C62903];
}

.products-slider .image-wrapper {
  @apply relative pt-[80%] sm:pt-[73%] mb-[3px] sm:mb-[18px];
}

.products-slider .image-wrapper svg {
  @apply absolute top-[15px] sm:top-[19px] right-[19px] sm:right-[26px];
}
.products-slider .image-wrapper img {
  @apply w-full h-full absolute top-0 left-0 object-cover;
}

.products-slider h3 {
  @apply text-[24px] lg:text-[28px] leading-[24px] lg:leading-[28px] font-[800] text-[#2D3830] mb-[5px];
}
.products-slider p {
  @apply text-[16px] leading-[24px] font-[600] text-[#2D3830] mb-[10px];
}
.products-slider .price {
  @apply text-[28px] lg:text-[32px] leading-[28px] lg:leading-[32px] font-[800] text-[#2D3830] inline-block mb-[17px] sm:mb-[14px];
  font-family: var(--font-heading-family);
}

.products-slider .products-slider-wrapper button span {
  @apply text-[16px] leading-[16px] font-[800] text-[#E0E0D6] uppercase;
  font-family: var(--font-heading-family);
}
.products-slider .products-slider-wrapper button::before,
.products-slider .products-slider-wrapper button::after {
  @apply hidden;
}
.products-slider .products-slider-wrapper button {
  @apply bg-[#C62903] opacity-100 rounded-full min-h-[43px] w-auto px-[25px];
}
.products-slider .products-slider-wrapper .content {
  @apply px-[8px] sm:px-[17px];
}
.products-slider .collection-slider {
  @apply max-w-[1675px] mx-auto;
}
.products-slider .collection-slider .keen-slider {
  @apply ml-[-10px] sm:ml-0;
  overflow: visible !important;
}

.products-slider .shape-wrapper {
  @apply absolute top-0 right-0 z-[-1] max-w-[185px] sm:max-w-[388px];
}
.products-slider .shape-wrapper img {
  @apply w-full;
}

/* Text Banner */
.text-banner {
  @apply relative pb-[68px] pt-[74px] sm:py-[10vw] lg:py-[120px] px-[10px] sm:px-[5vw] lg:px-[100px] 2xl:pt-[138px] 2xl:px-[140px] 2xl:pb-[126px];
}

.text-banner img {
  @apply absolute top-0 left-0 w-full h-full object-cover z-[-1];
}
.text-banner .mobile-image {
  @apply block sm:hidden;
}

.text-banner .desktop-image {
  @apply hidden sm:block;
}

.text-banner h2 {
  @apply font-[800] text-[#E0E0D6] uppercase max-w-[1502px];
}

.text-banner h2 {
  @apply text-[64px] md:text-[80px] lg:text-[11vw] leading-[64px] md:leading-[80px] lg:leading-[11vw]  font-[800] text-[#E0E0D6] uppercase max-w-[1502px];
}

.text-banner .shape-wrapper {
  @apply absolute right-0 top-0 z-[0] max-w-[167px] sm:max-w-[331px];
}
.text-banner .shape-wrapper img {
  @apply relative w-full;
}

@media (min-width: 1800px) {
  .text-banner h2 {
    @apply text-[200px] leading-[200px];
  }
}

@media (max-width: 450px) {
  .text-banner h2 {
    @apply max-w-[280px];
  }
}

/* Subscription plans */

.subscription-plans {
  @apply flex flex-col md:flex-row;
}

.subscription-plans .subscription-card {
  @apply md:w-[50%]  overflow-hidden relative flex flex-col justify-center py-[67px] md:py-[80px] lg:py-[100px] xl:py-[114px] px-[30px] md:px-[40px] lg:px-[80px] xl:px-[100px] 2xl:px-[140px];
}
.subscription-plans .shape-wrapper {
  @apply absolute left-0 top-0 max-w-[139px] sm:max-w-[227px];
}
.subscription-plans .shape-wrapper img {
  @apply w-full;
}

.subscription-plans .image-wrapper {
  @apply absolute right-[0px] top-[50%] translate-y-[-50%] z-[0] max-w-[282px];
}

.subscription-plans h2 {
  @apply text-[40px] xl:text-[64px] leading-[40px] xl:leading-[64px] font-[800] text-[#E0E0D6] uppercase mb-[8px] sm:mb-[23px];
  letter-spacing: 0px;
}

.subscription-plans p {
  @apply text-[16px] sm:text-[20px] leading-[19.2px] sm:leading-[24px] font-[500] text-[#E0E0D6] mb-[37px] sm:mb-[55px];
  letter-spacing: 0px;
}
.subscription-plans .content-wrapper {
  @apply relative z-[1];
}

/* Sliders Section */
.sliders-section {
  @apply pt-[75px] lg:pt-[120px] xl:pt-[150px] pb-[80px] lg:pb-[120px] xl:pb-[170px] overflow-hidden;
}
.sliders-section h2 {
  @apply mb-[25px] text-[48px] sm:text-[54px] lg:text-[70px] xl:text-[96px] leading-[43.2px] sm:leading-[54px] lg:leading-[70px] xl:leading-[96px] text-[#2D3830] font-[800];
}

.sliders-section .tags {
  @apply overflow-hidden flex gap-x-[8px];
  touch-action: none;
  user-select: none;
}

.sliders-section .arrow-btn {
  @apply border-[1px] border-[#C62903] rounded-full px-[32px] pt-[16px] pb-[10px] inline-block;
}

.sliders-section .header-content {
  @apply px-[10px] max-w-[1658px] mx-auto mb-[30px] lg:mb-[69px];
}
.sliders-section .text-top-slide {
  @apply mb-[8px];
}

.sliders-section .tags-wrapper {
  @apply flex justify-end;
}

.sliders-section .tags .arrow-btn {
  @apply whitespace-nowrap pointer-events-none;
}
.sliders-section .image-wrapper {
  @apply pt-[83%] relative;
}
.sliders-section .image-wrapper img {
  @apply top-0 left-0 absolute w-full h-full object-cover;
}
.sliders-section .slider-container {
  @apply max-w-[1920px] mx-auto;
}
.sliders-section .slider-container .keen-slider {
  @apply ml-[-60px];
  overflow: visible !important;
}

/* Discover Section */
.discover-section {
  @apply sm:px-[10px] overflow-hidden pb-[48px] sm:pb-[80px] lg:pb-[120px] xl:pb-[152px];
}
.discover-section .discover-wrapper {
  @apply max-w-[1645px] mx-auto;
}
.discover-section h2 {
  @apply text-[48px] sm:text-[54px] lg:text-[70px] xl:text-[96px] leading-[43.2px] sm:leading-[54px] lg:leading-[70px] xl:leading-[96px] text-[#2D3830] font-[800];
}

.discover-section .heading {
  @apply flex px-[10px] sm:px-0 flex-col sm:flex-row gap-x-[10px] gap-y-[24px] justify-between sm:items-end mb-[16px] sm:mb-[45px];
}
.discover-section .heading a {
  @apply mb-[10px];
}
.discover-section .discover-card {
  @apply relative overflow-hidden px-[30px] lg:px-[50px] bg-[#486171] rounded-tl-[60px] lg:rounded-tl-[100px] rounded-br-[50px] lg:rounded-br-[100px] mb-[21px] sm:mb-[60px];
}
.discover-section .shape-wrapper {
  @apply absolute  pointer-events-none;
}
.discover-section .shape-wrapper img {
  @apply w-full;
}
.discover-section .shape-wrapper.top {
  @apply top-0 right-0 max-w-[326px] sm:max-w-[527px];
}
.discover-section .shape-wrapper.left {
  @apply bottom-0 sm:bottom-auto sm:top-[134px] left-0 max-w-[124px] sm:max-w-[175px];
}
.discover-section .discover-card .card-wrapper {
  @apply flex gap-x-[10px] gap-y-[32px] flex-col lg:flex-row lg:items-center justify-between lg:px-[3vw] xl:px-[4.7vw] pb-[59px] lg:pb-[3.8vw] pt-[42px] lg:pt-[3.9vw];
}

.discover-section .discover-card h4 {
  @apply mb-[9px] lg:mb-[15px] text-[20px] lg:text-[28px] leading-[28px] lg:leading-[39.2px] font-[800] text-[#2D3830];
  letter-spacing: 0px;
}

.discover-section .discover-card h3 {
  @apply text-[40px] xl:text-[64px] leading-[40px] xl:leading-[64px] font-[800] text-[#E0E0D6] uppercase mb-[19px] lg:mb-[84px];
  letter-spacing: 0px;
}
.discover-section .discover-card p {
  @apply text-[16px] sm:text-[20px] leading-[19.2px] sm:leading-[30px] font-[600] text-[#E0E0D6] mb-[38px] lg:mb-[52px];
}
.discover-section .image-wrapper {
  @apply max-w-[622px] 2xl:mr-[3vw];
}
.discover-section .left-section {
  @apply lg:min-w-[380px] lg:max-w-[527px];
}

.discover-section .card-section h4 {
  @apply mb-[5px] sm:mb-0 text-[24px] lg:text-[28px] leading-[24px] lg:leading-[39.2px] font-[800] text-[#2D3830];
  letter-spacing: 0px;
}
.discover-section .card-section p {
  @apply text-[16px] leading-[24px] font-[600] text-[#2D3830];
}
.discover-section .card-section .image-card {
  @apply overflow-hidden relative pt-[73%] sm:pt-[75%] mb-[10px];
}
.discover-section .card-section img {
  @apply mx-[-15px] absolute w-full h-full top-0 left-0 object-cover;
}
.discover-section .keen-slider {
  @apply px-[10px] sm:px-0;
  overflow: visible !important;
}

/* Banner Image */
.image-banner-section {
  @apply relative;
}
.image-banner-section.banner--large:not(.banner--adapt) {
  @apply min-h-[654px] lg:min-h-[800px] xl:min-h-[1047px];
}

.image-banner-section h2.hxxl {
  @apply font-[800] text-[#E0E0D6] uppercase max-w-[1502px] mb-[25px] sm:mb-[20px];
}

.image-banner-section h2.hxxl {
  @apply text-[64px] md:text-[80px] lg:text-[11vw] leading-[64px] md:leading-[80px] lg:leading-[11vw]  font-[800] text-[#E0E0D6] uppercase;
}

.image-banner-section.banner--large .page-width {
  @apply max-w-[1733px];
}

@media (min-width: 1800px) {
  .image-banner-section h2.hxxl {
    @apply text-[200px] leading-[200px];
  }
}

.image-banner-section h3 {
  @apply max-w-[748px] text-[40px] xl:text-[64px] leading-[40px] xl:leading-[64px] font-[800] text-[#C62903];
  letter-spacing: 0px;
}
.image-banner-section .banner__content--middle-left h3,
.image-banner-section .banner__content--middle-left h2.hxxl,
.image-banner-section .banner__content--middle-left .banner__text p,
.image-banner-section .banner__content--middle-left .banner__box {
  @apply text-left;
}

.image-banner-section .banner__text p {
  @apply text-[16px] sm:text-[20px] leading-[25.6px] sm:leading-[30px] text-[#E0E0D6] max-w-[704px];
  letter-spacing: 0px;
}

.image-banner-section .button.button--secondary {
  @apply text-[20px] p-0 lg:text-[32px] leading-[20px] lg:leading-[32px] font-[800] text-[#E0E0D6] uppercase;
  letter-spacing: 0px;
  font-family: var(--font-heading-family);
}

.image-banner-section .button.button--secondary::after {
  @apply ml-[8px] relative;
  box-shadow: none;
  vertical-align: middle;
  content: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5 25.5L25.5 10.5M25.5 10.5H10.5M25.5 10.5V25.5' stroke='%23E0E0D6' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.image-banner-section .banner__box > * + .banner__buttons {
  @apply mt-[25px] sm:mt-[50px];
}

.image-banner-section .shape-wrapper {
  @apply absolute pointer-events-none left-0 top-0 z-[1] max-w-[120px] sm:max-w-[254px];
}
.image-banner-section .shape-wrapper img {
  @apply w-full;
}

@media (max-width: 640px) {
  .image-banner-section .banner__box {
    @apply px-[30px];
  }
  .image-banner-section .button.button--secondary::after {
    content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 17L17 7M17 7H7M17 7V17' stroke='%23E0E0D6' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  }
}
